@model List<Reservation>

@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}


@if (!Model.Any())
{
    <div class=" container mt-5 alert alert-info" role="alert">
        <h4> <b>  Geçmiş Rezervasyonunuz Bulunmamaktadır...</b></h4>
    </div>
}

else
{
    <h1>Geçmiş Rezervasyonlar</h1>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.ReservationDate</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>
}

